<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClrPlus" version="1.8.0.81" targetFramework="net461" />
  <package id="Dapplo.InterfaceImpl" version="0.2.9" targetFramework="net461" />
  <package id="Dapplo.Log" version="1.0.29" targetFramework="net461" />
  <package id="Dapplo.Registry" version="0.5.19" targetFramework="net461" />
  <package id="Dapplo.Utils" version="1.0.150" targetFramework="net461" />
  <package id="Tools.Main" version="1.5.4.50001" targetFramework="net461" />
  <package id="Tools.Win" version="1.5.4.50001" targetFramework="net461" />
  <package id="Tools.Windows" version="1.5.4.50001" targetFramework="net461" />
  <package id="Useful.Utilities" version="1.0.5" targetFramework="net461" />
</packages>